<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Candles MB</title>
</head>
<body>
    <table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Pair</th>
        <th>sma_20</th>
        <th>sma_50</th>
        <th>sma_200</th>
    </tr>
    </thead>
    <tbody>
        {% for day in pair %}
        <tr>
            <td>{{ day.timestamp }}</td>
            <td>{{ day.pair }}</td>
            <td>{{ day.mms_20 }}</td>
            <td>{{ day.mms_50 }}</td>
            <td>{{ day.mms_200 }}</td>
        </tr>
        {% endfor %}
    </tbody>
        <tfoot>
        <tr>
            <th>Timestamp</th>
            <th>Pair</th>
            <th>sma_20</th>
            <th>sma_50</th>
            <th>sma_200</th>
        </tr>
        </tfoot>
    </table>
</body>
</html>